<div class="container">
  <div class="leftContainer">
    <img src="https://images.idgesg.net/images/article/2017/10/wireless_network_internet_of_things_iot_thinkstock_853701554-100739367-large.jpg" height="100%">
  </div>
  <div class="rightContainer">
    <mat-card class="example-card">
      <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title align="center">Prototipo LoRa Comunicación Ubicación y Monitoreo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingrese Usuario" >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Ingrese Contraseña" >
          </mat-form-field>
        
        </form>
        <p>
          Prototipo LoRa es un modelo tecnológico enfocado en la atención de personas durante eventos adversos en áreas inhóspitas, 
          que incluye cuatro módulos: módulo de geolocalización, módulo de monitoreo, módulo de comunicación - procesamiento y 
          módulo de control.
      </mat-card-content>
        <mat-card-actions >
          <button mat-flat-button color="primary" onclick="goToPrototype()" routerLink="/prototipo">INGRESAR</button>
          <button mat-button>REGISTRARSE</button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
